<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rishavyaduvanshi.online_insurance_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineInsurance">

        <activity android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".claimpage"/>
        <activity android:name=".claim"/>
        <activity android:name=".Medical_Insur"/>
        <activity android:name=".Phone_Insur"/>
        <activity android:name=".Vehilcle_Insur"/>
        <activity android:name=".adminlogin"/>
        <activity android:name=".admin"/>
        <activity android:name=".home"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity_login"/>

    </application>

</manifest>