<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.insurance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Insurance Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.insurance.Splash">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name="com.example.insurance.claimpage" />
        <activity
            android:name="com.example.insurance.claim"
            android:label="Claim" />
        <activity
            android:name="com.example.insurance.Medical_Insur"
            android:label="Medical Insurance" />
        <activity
            android:name="com.example.insurance.Phone_Insur"
            android:label="Phone Insurance" />
        <activity
            android:name="com.example.insurance.Vehilcle_Insur"
            android:label="Vehicle Insurance " />
        <activity android:name="com.example.insurance.adminlogin" />
        <activity
            android:name="com.example.insurance.admin"
            android:label="Admin Space" />
        <activity
            android:name="com.example.insurance.home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.insurance.MainActivity"
            android:label="Create Account" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.example.insurance.activity_login"
            android:label="Insurance Application">
        </activity>
    </application>

</manifest>